.top{
    float: right;
}
.top li{
    display: inline-block;
    margin: 15px;
    padding-right: 50px;
}
.pot li{
    display: inline-block;
    margin: 15px;
    padding-right: 50px;
}
.logo{
    text-align: center;
    bottom: 60px;
    position: relative;
}
.nyota{
    font-size: 500%;
}
.log{
    text-align: center;
    bottom: 220px;
    position: relative;
    font-size: 350%;
    color: #654321;
}
.str{
    font-family: Roboto;
    font-size: 20px;
    margin-left: 50px;
}
.str h3{
    font-size: 24px;
}
.str p{
    font-size: 15px;
}
.btn{
    border-radius: 60px;
    height: 40px;
    width: 120px;
    border: none;
    background-color: #1EAB07;

}