/* .nav ul li{
    display: inline-block;
    list-style: none;
} */
.top{
    float: right;
}
.top li{
    display: inline-block;
    margin: 15px;
    padding-right: 50px;
}
.pot li{
    display: inline-block;
    margin: 15px;
    padding-right: 50px;
}
.logo{
    text-align: center;
    /* margin-bottom: 200px; */
    bottom: 60px;
    position: relative;
}
.nyota{
    font-size: 500%;
}
.str{
    font-family: Roboto;
    font-size: 20px;
}