/* .nav ul li{
    display: inline-block;
    list-style: none;
} */
.top{
    float: right;
}
.top li{
    display: inline-block;
    margin: 15px;
    padding-right: 50px;
}
.pot li{
    display: inline-block;
    margin: 15px;
    padding-right: 50px;
}
.logo{
    text-align: center;
}
.nyota{
    font-size: 500%;
}