.body{
    font-family: "Roboto";
}
.top{
    float: right;
}
.top li{
    display: inline-block;
    margin: 15px;
    padding-right: 50px;
}
.pot li{
    display: inline-block;
    margin: 15px;
    padding-right: 50px;
}
.logo{
    text-align: center;
    bottom: 60px;
    position: relative;
}
.nyota{
    font-size: 500%;
}
.log{
    text-align: center;
    bottom: 220px;
    position: relative;
    font-size: 350%;
    color: #654321;
}
.str{
    font-family: Roboto;
    font-size: 20px;
    margin-left: 50px;
}
.str h3{
    font-size: 24px;
}
.str p{
    font-size: 15px;
}
.btn{
    border-radius: 60px;
    height: 40px;
    width: 120px;
    border: none;
    background-color: #1EAB07;
}
.pic img{
    height: 450px;
    padding-top: 80px;
    margin-bottom: 50px;
}
.one{
    color: #FFD580;
    font-family: Roboto;
    font-size: 40px;
    text-align: center;
    margin-left: 10px;
    margin-top: -350px; 
    text-indent: 4px;
    white-space: pre;  
}
.pamoja {
    font-size: 17px;
    text-align: center;
    margin-left: 390px;
    margin-top: -400px;  
}.close{
    border: 1px solid red;
    height: 600px;
}
.open{
    background-color: #add8e6;
    height: 600px;   
}

